
#espejo {
    padding: 20px;
    max-width: 400px; /* Ajusta el ancho del formulario según tus necesidades */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;
    margin: 0 auto;
}


#hero {
    width: 100%;
    height: 100vh;
    background: url("../../../public/truck.jpg") top center;
    background-size:cover;
    background-position: center;
    position: relative;
    font-family: 'Numans', sans-serif;
  }

  #form_reg{
    width: 100%;
  }



#inicio-btn img {
    max-height: 30px; /* Ajusta la altura máxima según tus necesidades */
    margin-right: 10px; /* Espacio entre el logo y el texto (ajusta según sea necesario) */
}

#inicio-btn {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

#inicio-btn:hover {
    background-color: #ddd;
    color: black;
}


.container {
    text-align: center;
    margin-top: 200px;
}


.input {
    height: 40px; /* Ajusta la altura de los input según tus necesidades */
    width: 100%;
    display: block;
    background: #f3f3f3;
    padding: 10px; /* Ajusta el espacio interno del input según tus necesidades */
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.textarea {
    resize: none;
    height: 200px; /* Ajusta la altura del textarea según tus necesidades */
    width: 100%;
    margin-bottom: 10px;
}


.button {
    height: 40px;
    width: 100%;
    display: block;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 16px;
    text-decoration: underline;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color ease 0.3s, color ease 0.3s; /* Agregamos transición para suavizar el cambio de color */
}

.button:hover {
    background: #f3f3f3;
    color: black;
}
#texto{
   color: rgb(255, 246, 127);
   text-align: justify;
}